# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://umtvemlh_duitbapak:sdfjskdfjldjflksdfjsldjf232432324@localhost:3306/umtvemlh_duitbapak"
SALT_ROUND = 10
JWT_SECRET = "a77664d2fd406e1358588bdbbe13509e27d06de321941fabe98372796c3d1522"